* {
    margin: 0;
}

body {
    background-color: #f48c06;
    font-family: 'Roboto', sans-serif;
}

nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.logo > img {
    width: 150px;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    list-style: none;
    margin: 5px 30px;
    padding: 5px 0;
    color: #2F3542;
    font-size: 18px;
    border-bottom: 2px solid transparent;

}

.menu > ul > li:hover {
    border-color: #2F3542;
    cursor: pointer;
}

main > .container {
    padding: 0 15%;
}

.Searchbox {
  border: 1px solid black;
    display: flex;
    padding: 10px;
    border-radius:5px ;
}
#search_content{
    background: transparent;
    border: none;
    outline: none;
}
.brand__title {
    margin: 100px 0 -220px;
}

.brand__title > h1 {
    font-size: 80px;
    color: #2F3542;
    text-transform: uppercase;
    position: relative;
}

.brand__title > p {
    font-size: 40px;
    font-weight: 600;
    color: #57606F;
    text-transform: uppercase;
    position: relative;
}

.car > img {
    width: 100%;
    display: flex;
    margin-top: 120px;
    margin-left: 50px;
}

.Specs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
}

.Spec1 img {
    
    width: 640px;
    height: 360px;
}

.Spec2 img {
    
    width: 640px;
    height: 360px;
}

.Spec3 > img {
    
    width: 640px;
    height: 360px;
}

.Spec4 > img {
    
    width: 640px;
    height: 360px;
}

.Spec5 {
    color: blue;
}

.Spec6 {
    color: blue;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    margin-left: 10%;
    flex-grow: .4;
    justify-content: flex-end;
}

.info > div {
    min-width: 100px;
    margin-right: 0px;
    padding: 35px 50px 30px 20px;
    background-color: #5c5c5c00;
    color: #FFF;
}

.info > div > p {
    color: #ff0505;
    margin-bottom: 15px;
}

.info > div > span {
    color: #171717;
}





